@{
    ViewData["Title"] = "Index";
}
<h1 class="text-center"><b>Bevo’s Bookstore Home</b></h1>
<br /> <!--This is a line break to make a blank line-->
<div class="text-center">
    <div class="btn-group-lg">
        <a asp-action="CheckoutDirect" class="btn btn-primary">Direct Order</a>
        <a asp-action="CheckoutWholesale" class="btn btn-danger">Wholesale Order</a>
    </div>
</div>