<br /> <!--This is a line break to make a blank line-->
<h1>My Club Involvements</h1>
<hr /> <!--This makes a line across the page-->

<h4>TX Blockchain (2021 - Present)</h4>
<p>I am an active member of this organization. </p>
<p>During last year's recruiting cycle, I leveraged this club to to expand my knowledge of crypto, blockchain, web3, and etc. (it paid off!)</p>
<hr /> <!--This makes a line across the page-->

<h4>MIS Association (2021 - Present)</h4>
<p>I am an active member of this organization. </p>
<p>As an MIS major, I aimed to surround myself with like-minded individuals. </p>
<p>This club offered me extensive knowledge and hands-on experiene with tools such as Excel, Tableau, Python, and etc.</p>
<hr /> <!--This makes a line across the page-->

<h4>Women in Business Association (2020 - Present)</h4>
<p>I am the External Affairs Director of this organization. </p>
<p>From my ongoing involvement as a Board Member, Upperclassmen Mentor, and Distinguished Member, I have a close network of great individuals. </p>
<p>Here are some of the tasks I am responsible for as a Director: </p>
<p>&emsp; •  I recruit representatives of FAANG and other companies to facilitate a multitude of engaging events for our 250+ members</p>
<p>&emsp; •  I direct a committee of 3 members in the proposal and implementation of events rich in business and technology</p>
<p>&emsp; •  I initiated a startup series and hands-on workshops designed to learn and apply technical acumen </p>
<hr /> <!--This makes a line across the page-->

<p><b>Here are some memories from WBA!</b></p>
<!DOCTYPE html>
<html>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

        .column img {
            margin-top: 12px;
        }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/images/wba3.jpeg" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/wba.jpeg" style="width:100%">
            <img src="~/images/wba2.jpeg" style="width:100%">
        </div>
    </div>
</body>
</html>
