<br /> <!--This is a line break to make a blank line-->
<h1>Ankita's Good Eats</h1>


<hr /> <!--This makes a line across the page-->
<h4>Lucky Robot</h4>
<p>Lucky Robot is a Tokyo-inspired street fare restaurant on South Congress, which offers great Asian tacos, sushi, dumplings, and sake punch. </p>
<p>(not that I've ever tried the sake ..)</p>
<!DOCTYPE html>
<html>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

        .column img {
            margin-top: 12px;
        }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/images/r_lr1.jpeg" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/r_lr2.jpeg" style="width:100%">
        </div>
    </div>
</body>
</html>


<hr /> <!--This makes a line across the page-->
<h4>Cipollina</h4>
<p>Cipollina is a modern restaurant that offers gourmet pizza and panini in a spacious dining room. </p>
<p>(the interior lighting is quite dim though.)</p>
<!DOCTYPE html>
<html>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

        .column img {
            margin-top: 12px;
        }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/images/r_c1.jpeg" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/r_c2.jpeg" style="width:100%">
        </div>
    </div>
</body>
</html>


<hr /> <!--This makes a line across the page-->
<h4>Sip Pho</h4>
<p>Sip Pho is a Vietnamese restaurant on 29th that offers traditional banh mi, pho, and soups.</p>
<p>(worth going for the experience!)</p>
<!DOCTYPE html>
<html>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

        .column img {
            margin-top: 12px;
        }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/images/r_sp1.jpeg" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/r_sp2.jpeg" style="width:100%">
        </div>
    </div>
</body>
</html>