<br /> <!--This is a line break to make a blank line-->
<h1>My Internships</h1>
<hr /> <!--This makes a line across the page-->

<h4>Pay2Mate (May 2021 – August 2021 )</h4>
<p>During my Freshman year of college, I interned at Pay2Mate. This startup facilitates the exchange of e-cheques between individuals and banks.</p>
<p>As a business lead, I oversaw a team of 3 other interns, and collaborated with UI/UX developer team to enhance how functions and APIs are integrated into flutter code.</p>
<p>Towards the end of this internship, I was presented with the opportunity to pitch our startup to a YCombinator investor. With our tech lead, I delivered a compelling slide deck including key metrics and details, that ultimtely lead to a successful partnership!</p>
<hr /> <!--This makes a line across the page-->

<h4>Coinbase (May 2022 - September 2022)</h4>
<p>During my Sophomore year of college, I interned at Coinbase. This company operates a cryptocurrency exchange platform, and recently IPO'd in April, 2021.</p>
<p>As a People Analytics Intern, I worked with a highly functional team of 10 members.</p>
<p>Here are a couple of tasks that defined my internship with this company:</p>
<p>&emsp; •  I designed the HR M&A Dashboard by leveraging tools such as Snowflake (SQL), Looker, and Tableau to manipulate and accordingly visualize data</p>
<p>&emsp; •  I developed an Improved Provisioning System Proposal to provide role-based access controls and streamline the CHRO Dashboards</p>
<p>&emsp; •  I assisted in coding the NLP Topic Modeling Project by leveraging Python</p>
<p>&emsp; •  I was 1/5 interns to be selected for the "Cryptern Social Committee" to oversee our class of 250 interns</p>
<hr /> <!--This makes a line across the page-->

<p><b>Here are some photos from my Coinbase Internship, based out of New York!</b></p>
<!DOCTYPE html>
<html>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

        .column img {
            margin-top: 12px;
        }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/images/cb1.jpeg" style="width:100%">
            <img src="~/images/cb3.jpeg" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/cb2.jpeg" style="width:100%">
            <img src="~/images/cb.jpeg" style="width:100%">
        </div>
    </div>
</body>
</html>
