<br /> <!--This is a line break to make a blank line-->
<h1>My Music Involvement</h1>
<p>My experience in band ranges over 10 years; I begin with playing the clarinet in 2010, marching clarinet from 2016-2019, and ending with conducting as a drum major in 2020! </p>
<hr /> <!--This makes a line across the page-->
<h4>Carnegie Hall, NY (2014)</h4>
<p>During my second year of middle school, I was selected as an International Finalist for the Honors Perofrmance Series in Carnegie Hall. </p>
<p>There, I met some of my closest friends, and begin to truly understand the impact of music. </p>
<p>This wonderful experience has a special place in my heart.</p>
<hr /> <!--This makes a line across the page-->
<h4>TX Lonestar Ambassadors x 8 European Countries (2015)</h4>
<p>During my final year of middle school, I was inspired to continue performing outside of my direct band. </p>
<p>I found myself applying to the two-week TX Lonestar Ambassadors Program that would result in a small ensemble travelling to and touring 8 European Countries.</p>
<p>Like my prior band trip, I returned an inspired musician, ready to conquer high school band. </p>
<hr /> <!--This makes a line across the page-->
<h4>Marching Band (2016 - 2020)</h4>
<p>For the first 3 years of high school, I marched and played clarinet. However, I did not feel challenged enough. </p>
<p>The consecutive year, I applied to position of Drum Major (president) and landed a role that would instill discipline, motivation, and resilience within me.</p>
<p>The memories I made in this organization will stick with me throughout the course of my life.</p>
<hr /> <!--This makes a line across the page-->

<p><b>Memories from my 10+ yr involvement in band (TW: fetus me)</b></p>

<!DOCTYPE html>
<html>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: Arial;
    }

    .header {
        text-align: center;
        padding: 32px;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

        .column img {
            margin-top: 12px;
        }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>

    <!-- Photo Grid -->
    <div class="row">
        <div class="column">
            <img src="~/images/ch1.jpeg" style="width:100%">
            <img src="~/images/stands.jpeg" style="width:100%">
        </div>
        <div class="column">
            <img src="~/images/dm1.jpeg" style="width:100%">
            <img src="~/images/dm2.jpeg" style="width:100%">
            <img src="~/images/e1.jpeg" style="width:100%">
        </div>
    </div>
</body>
</html>
