<br /> <!--This is a line break to make a blank line-->
<h1>My Personality Type</h1>
<hr /> <!--This makes a line across the page-->
<h4>MBTI: The Architect (INTJ)</h4>
<br /> <!--This is a line break to make a blank line-->
<p>What is the Meyers-Briggs Type Indicator (MBTI)? </p>
<p>&emsp; •  The MBTI is a personality typology tool that indicates differing psychological preferences in how people perceive the world and make decisions.</p>
<p>Personality Breakdown: </p>
<p>&emsp; • Where you focus your attention ; Extraversion (E) or Introversion (I) </p>
<p>&emsp; • The way you take in information ; Sensing (S) or INtuition (N) </p>
<p>&emsp; • How you make decisions ; Thinking (T) or Feeling (F) </p>
<p>&emsp; • How you deal with the world ; Judging (J) or Perceiving (P) </p>
<hr /> <!--This makes a line across the page-->

<p><b>Here is a visual description of the INTJ Personality Type (ignore the part about being clueless in romance). </b></p>
<div class="align-self-sm-center">
    <img class="w-50 h-auto rounded mx-auto d-block"
         src="~/images/mbti.jpeg" alt=" " title=" " />
</div>